.square-white {
    display: inline-block;
    background-color: white;
    height: 70px;
    width: 70px;
  }

  .square-beige {
    display: inline-block;
    background-color: beige;
    height: 70px;
    width: 70px;
  }